    *{
        margin: 0;
        padding: 0;
    }
    body{
        background-image: url(./image/backgroundimg.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    nav{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border: 1px solid rgba(255,255,255,0.3);
    }
    .nav-left{
        color: white;
        font-size: 1.1rem;
        font-weight: bold;
    }
    span{
        color: #ADEFD1;
        font-size: 1.4rem;
        margin: 0px 5px;
    }
    .nav-right{
        display: flex;
    }
    a{
        text-decoration: none;
        color: white;
        margin: 0px 60px;
    }

    