.container {
    width: 390px;
    height: 100dvh;
    margin: auto;
    background-color: #000;
    display: flex;
    flex-direction: column;
  }

.header {
    display: flex;
    justify-content: center;
    color: white;
    padding: 10px 30px;
    font-size: 1.2rem;
    position: relative;
}

.header__goBackButton {
    position: absolute;
    left: 20px;
    top: 15px;
}

.header__username{
    text-align: center;
    margin-bottom: 3px;
    font-variant: small-caps;
}

.post-header a{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 0 0 20px;
    margin: 10px 0px;
}

.profile__image img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.post__userid{
    font-weight: bold;
}

.moreButton {
    position: absolute;
    left: 320px;
    right: 20px;
    top: 60px;
}

.post_img{
    width: 100%;
    max-width: 100%;
    max-height: 250px;
    height: auto;
    object-fit: contain;
    background-color: white;
}

.post-info{
    display: flex;
    color: white;
    margin: 10px 0 0 20px;
    gap: 10px;
    align-items: center;
}

.info-like-button, .info-comment-button {
    display: flex;
    align-items: center;
    line-height: 1;  
    justify-content: center;
    height: 30px; 
}

.info-like-button svg {
    width: 28px;
    height: 28px;
    vertical-align: middle;  
}

.info-comment-button svg {
    width: 24px;  
    height: 24px;
}

.info-like-container{
    display: flex;
    align-items: center;
}

.info-like-count, .info-comment-count{
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.like-count{
    color: white;
}

.comment__delete{
    margin-left: 10px;
}

.post-content{
    display: flex;
    padding: 10px 20px;
    font-size: 1.3rem;
}

.post__userid{
    margin-right: 5px;
}

textarea{
    background-color: transparent;
    border-radius: 10px;
    color: white;
    padding: 5px;
    width: 65%;
    margin: 5px 20px;

}
textarea:placeholder-shown{
    color: lightgray;
}
#submit-comment{
    color: #1fa1ff;
    display: flex;
}

.comment-write {
    position: fixed;
    bottom: 0;
    left: auto;
    right: auto;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    background-color: #000;
    z-index: 10; 
    width: 390px;
    height: 67px;
}

.comment-write-profileimg{
    padding-top: 15px;
    box-sizing: border-box;
}

.comment-container{
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 205px;
    padding-bottom: 67px;
}

.comment-item{
    display: flex;
    padding: 10px 15px;
    font-size: 1.2rem;
    align-items: center;
}

.comment-profileimg img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
}

.content__userid{
    font-weight: bold;
    margin-right: 10px;
}


.like-icon.liked {
    fill: red; 
}

.info-like-button-post{
    width: 27px !important;
    height: 27px !important;
    margin-right: 5px;
}



.comment__delete button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
}

.comment__delete button svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;  
}

.comment-item svg{
    width: 15px;
    height: 15px;
    margin-right: 3px;
}
