@import "variable.css";
@import "reset.css";
body{
    font-family: "Nexon", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    width: 100%;
    background-color: black;
    box-sizing: border-box;
    color: white;
}

header,footer{
    width: 100%;
}

a{
    text-decoration: none;
}

header{
    padding: 0 40px;
    display: flex;
    position: sticky;
    top: 0px;
    padding: 20px 20px;;
    z-index: 1000;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6) 70%, rgba(0, 0, 0, 0) 100%);
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px; 
    margin-bottom: 40px;
}


body{
    margin:0 auto;
}

#header-left img{
    width: 40px;
    height: 40px;
    margin-left: 60px;
    margin-top: 5px;
}

#header-right {
    margin-left: auto;
    display: flex;
    margin-right: 60px;
    margin-top: 5px;
}

#header-right ul{
    list-style: none;
    
}

#header-right li{
    position: relative;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
}
#header-right li:nth-child(3){
    color: var(--green-1);
}

#header-right li a:hover{
    position: relative;
    top: -2px;
}
#header-hamburger{
    display: none;
}

#main-top{
    margin-bottom: 16px;
    width: 100%;
    position: relative;
    text-align: center;
    align-items: baseline;
}

#main-top div{
    text-align: center;
    font-size: 22px;
    margin-bottom: 3px;
}

#main-top span{
    position: absolute;
    top: 6px;
    right: 20px;
    font-size: 16px;
    
}

.project{
    width: 100%;
    position: relative;
    margin: 0px auto 16px;
    padding: 16px;
    border-radius: 10px;
    background-color: var(--bg-gray);
    display: flex;
}

.project-img-container{
    background-color: white !important;
    width: 150px;
    height: 100px;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
}
.project-img{
    width: 100px;
    box-sizing: border-box;
    background-color: white;
}

.project div, .project span{
    background-color: transparent;
}
.main-hamburger{
    position: absolute;
    top: 16px;
    right: 16px;
}

.main-hamburger div{
    background-color: var(--bg-5);
    margin: 5px 0px;
    width: 20px;
    height: 2px;
}

.title{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}

.text{
    font-size: 16px;
    color: var(--subtext-gray);
    margin-bottom: 30px;
}


.project-content{
    margin: 10px;
}

.member{
    margin-top: 15px;
    font-size: 14px;
}

.leader, .not-leader{
    border-radius: 5px;
    padding: 6px 8px;
}

.leader{
    background-color: #2188b6 !important;
}

.not-leader{
    background-color: var(--bg-5) !important;
    color: black;
}

.project:hover {
    position: relative;
    top: -2px;
}

.project:hover .main-hamburger div {
    transition: 0.3s;
}

.project:hover .main-hamburger div:nth-child(1) {
    width: 15px;
    height: 3px;
}

.project:hover .main-hamburger div:nth-child(2) {
    width: 30px;
    height: 3px;
}

.project:hover .main-hamburger div:nth-child(3) {
    margin-left: 15px;
    width: 15px;
    height: 3px;
}

.project:hover .project-img {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
}


#header-hamburger div{
    background-color: white;
    margin: 6px 0px;
}
#header-hamburger :nth-child(1){
    width: 15px;
    height: 3px;
}
#header-hamburger :nth-child(2){
    width: 30px;
    height: 3px;
}
#header-hamburger :nth-child(3){
    width: 22.5px;
    height: 3px;
}



footer{
    padding: var(--offset);
    width: 100vw;
    background-color: var(--bg-gray);
    color: white;
}

.emoji {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    position: relative;
}

#footer-rules{
    background-color: transparent;
    font-size:14px;
    padding: 5px;
    margin-bottom: 20px;
}

#footer-sns{
    background-color: transparent;
    margin-bottom: 20px;
}

#footer-nav{
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
}

#footer-nav ul{
    background-color: transparent;
    display: flex;
}

#footer-nav li{
    padding: 20px;
}

#email{
    display: flex;
}

#mail-img{
    margin-right: 10px;
}

#footer-sns a:hover img,
#footer-rules:hover,
#email:hover,
#footer-nav li a:hover {
    position: relative;
    top: -2px;
}

#footer-nav li{
    padding: 20px;
}


@media (max-width:800px){
    #header-hamburger{
        display: block;
        margin-left: auto;
    }
    #header-right{
        display: none;
        background-color: var(--bg-5);
    }
}


@media (max-width : 650px){
    .project{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 16px 0px;
    }
    .project-img-container{
        margin: 0 auto;
    }
    main{
        padding: 0 20px;
    }
}